<div class="container">
  <div class="left">
    <!-- Testo skills -->
    <div class="text-box">
      <span class="about-up">{{ 'ABOUT' }}</span>
      <span class="about-bracket">{{ '{ ' }}</span>
      <p class="about-text">
        Software engineer with over 7 years of experience.
        Full time wizard & proud bug developer.
      </p>
      <span class="about-bracket"> {{ '}' }} </span>
    </div>
  </div>
  <div class="right">
    <p id="about-descr" class="about-text">
      Passionate about computer science since childhood,
      I've spent over 7 years refining my skills through
      diverse projects.
      Ever since I was 9 years old, I've loved computer
      science. This interest has grown into a full career
      where I keep learning and staying up-to-date with
      technology.
      I like to learn by doing, not watching tutorials. Over
      the years, I have independently developed numerous
      open-source projects to experiment with a wide
      range of technologies
    </p>
  </div>
</div>
