<div class="container">
  <div class="left">
    <span class="skills-up">{{ 'SKILLS {' }}</span>
    <p class="skills-text">
      I excel in dissecting complex problems into manageable tasks, essential for crafting robust, maintainable code in large-scale projects. I'm driven by challenges, always seeking opportunities to enhance my skills. My self-directed learning approach empowers me to quickly grasp and adapt to new technologies autonomously.
    </p>
    <span class="skills-down"> {{ '}' }} </span>
  </div>
  <div class="right"></div>
</div>
