<div class="container">
  <div class="left">
    <!-- Testo skills -->
    <div class="text-box">
      <span class="skills-up">{{ 'SKILLS' }}</span>
      <span class="skills-bracket">{{ '{ ' }}</span>
      <p class="skills-text">
        I excel in dissecting complex problems into manageable tasks, essential
        for crafting robust, maintainable code in large-scale projects. I'm
        driven by challenges, always seeking opportunities to enhance my skills.
        My self-directed learning approach empowers me to quickly grasp and
        adapt to new technologies autonomously.
      </p>
      <span class="skills-bracket"> {{ '}' }} </span>
    </div>
  </div>
  <div class="right">
    <!-- Linguaggi di programmazione -->
    <div class="languages">
      <div class="langs-left">
        <div class="lang">
          <p class="text">Typescript</p>
        </div>

        <div class="lang">
          <p class="text">Javascript</p>
        </div>

        <div class="lang">
          <p class="text">.NET core</p>
        </div>

        <div class="lang">
          <p class="text">Git</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="langs-right">
        <div class="lang">
          <p class="text">HTML</p>
        </div>
        <div class="lang">
          <p class="text">Angular</p>
        </div>
        <div class="lang">
          <p class="text">Node.js</p>
        </div>
        <div class="lang">
          <p class="text">Docker</p>
        </div>
      </div>
    </div>
  </div>
</div>
