:root {
  /* You can add global styles to this file, and also import other style files */
  --app-background-color: rgba(12, 12, 12, 1);
  --color-primary: rgba(242, 255, 91, 1);
  --color-secondary: rgba(137, 255, 105, 1);
  --color-thirdy: rgba(225, 225, 225, 1);
  
  --font-family-text-level-1: "Fira Sans", sans-serif;
  --font-family-text-level-2: "Comfortaa", sans-serif;
  --font-family-text-level-3: "Source Code Pro", monospace;

  body {
    padding: 0 !important;
    margin: 0 !important;
  }
}
